<?xml version="1.0" encoding="UTF-8" ?>
<!--system configuration-->
<SYSTEM>
	<PRIMARYNETWORK></PRIMARYNETWORK>
	<BACKUPNETWORK></BACKUPNETWORK>
	<STATIONNAME></STATIONNAME>
	<STATIONCODE></STATIONCODE>
	<TIMEZONE></TIMEZONE>
	<ANTENNA>
		<TYPE></TYPE>
		<HEIGHT></HEIGHT>
		<MEASURETYPE></MEASURETYPE>
		<XBIAS></XBIAS>
		<YBIAS></YBIAS>
	</ANTENNA>
	<POSITIONING>
		<BASELON></BASELON>
		<BASELAT></BASELAT>
		<BASEHEIGHT></BASEHEIGHT>
	</POSITIONING>
	<GPS>
		<CUTANGLE></CUTANGLE>
	</GPS>

</SYSTEM>